.heading-blue {
    color: blue;
}
.heading-red {
    color: red;
}
.heading-green {
    color: green;
}
.heading-yellow {
    color: yellow;
}
.heading-greenyellow {
    color: greenyellow;
}
.heading-pink {
    color: rgb(243, 50, 201);
}
.heading-white {
    color: white;
}
img {
    height: 350px;
}
hr {
    border: none;
    height: 1px;
    background-color: #333;
}

body {
    text-align: center;
}

.header-link {
    display: flex;
    justify-content: space-around;
    background-color: rgb(78, 118, 250);
    height: 40px;
    
}

.header-link a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.img-circle {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.hr-ngan {
    width: 15%;
}

.img-big {
    height: 110vh;
    width: 100%;
}

.content {
    width: 60%;
    margin: auto;
}

.footer {
    position: relative;
    background-color: rgb(255, 217, 0);
    width: 100%;
    height: 83px;
}

.footer-text {
    position: absolute;
    width: 100%;
    height: 80px;
    background-image: linear-gradient(to bottom, blue, rgb(225, 133, 248));
    margin-top: 3px;
}